.toast {
    position: absolute;
    top: 20px;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    background: #3b4b5d;
    padding: 20px 35px 20px 25px;
    overflow: hidden;
    transform: translateX(calc(-100% + 0px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    zoom: .7;
    z-index: 9;
}

.toast.active-toast {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e2a3a;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: #f3f3f3;
}

.message .text.text-1 {
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
}

.bottom-navbar{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: #3b4b5d;
    z-index: 1;
}

.bottom-data {
    position: fixed;
    bottom: 20px;
    left: -50%;
    transform: translateX(-50%) translateY(0);
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    opacity: 0; 
    transition: opacity 0.5s ease, left 0.5s ease; 
}

.bottom-camera{
    position: fixed;
    bottom: 173px;
    left: -50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    opacity: 0; 
    transition: opacity 0.5s ease, left 0.5s ease; 
}

.bottom-select {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  align-items: center;
  width: 95%;
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  overflow-x: auto;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: #3b4b5d;
}

.bottom-select.show {
  display: grid;
  opacity: 1; 
  left: 50%;
}

.bottom-data.show {
  display: flex;
  opacity: 1; 
  left: 50%;
}

.bottom-graphic.show,
.bottom-gif.show{
     display: flex;
  opacity: 1; 
  left: 50%;
}

.bottom-camera.show {
  opacity: 1; 
  left: 50%;
}

.bottom-bloom.show,
.bottom-material.show {
  display: flex;
  opacity: 1; 
  transform: translateX(-50%);
}

.bottom-data.hide,
.bottom-camera.hide{
    opacity: 0;
    left: -50%;
}

.bottom-graphic.hide,
.bottom-gif.hide{
    opacity: 0;
    left: -50%;
}

.bottom-bloom.hide,
.bottom-material.hide {
    opacity: 0;
    transform: translateX(0);
}

.bottom-select::-webkit-scrollbar-thumb,
.bottom-select::-webkit-scrollbar{
    display: none;
    position: absolute;
}

.bottom-adl{
    position: fixed;
    right: 0;
    display: grid;
    gap: 5px;
}

.bottom-advc{
    position: fixed;
    left: 0;
    display: grid;
    gap: 5px;
    bottom: 40px;
}

.bottom-nav-out {
    position: fixed;
    bottom: 153px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
}

.bottom-bloom {
    position: fixed;
    display: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(0);
    display: flex;
    align-items: center;
    opacity: 0;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.bottom-nav-material {
    position: fixed;
    bottom: 98px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
}

.bottom-material {
    position: fixed;
    bottom: 160px;
    display: none;
    left: 50%;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.bottom-graphic {
    position: fixed;
    bottom: 180px;
    display: none;
    left: -50%;
    transform:  translateX(-50%) translateX(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.bottom-gif {
    position: fixed;
    bottom: 180px;
    display: none;
    left: -50%;
    transform:  translateX(-50%) translateX(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.bottom-navbar button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .25s ease;
}

.bottom-nav-out button,
.bottom-nav-material button {
    background-color: #3b4b5d;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .25s ease;
}

#grid-view.active-exf,
#hdri-toggle.active-exf,
#aa-toggle.active-exf {
  background-color: #739eb2 !important;
}

#toggleSkj.active-free,
#toggleAni.active-free{
     background-color: #739eb2 !important;
}

.bottom-navbar button.active-bottom:not(.plus) {
    transform: scale(1);
}

.bottom-navbar button.active-bottom {
    color: #739eb2;
    background-color: #1e2a3a;
}

.bottom-navbar button i, 
.bottom-nav-out button i,
.bottom-nav-material button i {
    font-size: 20px;
    pointer-events: none;
}

.bottom-navbar button.plus {
    width: 70px;
    height: 70px;
    color: #fff;
    background: #739eb2;
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid #1e2a3a;
    transition: margin-top 0.3s ease;
}

.bottom-navbar button.plus.clicked{
    margin-top: 0px;
}

/* .bottom-navbar button.plus:hover {
    transform: translateY(-4px);
} */

#toggleCls.close-mode{
    background-color: red;
}

.bottom-nav-material.hidden, 
.bottom-nav-out.hidden {
  display: none!important;
  opacity: 0!important;
  z-index: -2!important;
  visibility: hidden!important;
}

.bottom-nav-material, .bottom-nav-out {
  transition: opacity 0.3s ease;
}

.bottom-navbar .effect {
    position: absolute;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    /* background: #1e2a3a; */
    z-index: -1;
}

.bottom-navbar .line-effect {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 5px;
    background: #1e2a3a;
    border-radius: 0px 0px 2px 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bottom-navbar button.active-bottom .line-effect {
  opacity: 0;
}